@charset "UTF-8";

h4{
  
   text-align: center;
}

.tbl_type, .tbl_type th, .tbl_type td {
   border: 0;

}

.tbl_type {
/*    height : 460px; */
   width: 90%;
   margin: 0 auto;
   max-width:800px;
   border-top: 2px solid gray;
   border-bottom: 2px solid #dcdcdc;
   font-family: '돋움', dotum;
   font-size: 12px;
   text-align: center;
   border-collapse: collapse;
}

.tbl_type caption {
   display: none
}

.tbl_type tfoot {
   background-color: #f5f7f9;
   font-weight: bold;
}

.tbl_type thead {
   
   background-color: #f5f7f9;
   font-weight: bold;
}

.tbl_type th {
   padding: 7px 0 4px;
   border-top: 2px solid #dcdcdc;
   border-right: 1px solid #dcdcdc;
   border-left: 1px solid #dcdcdc;
   background-color: #f5f7f9;
   color: #666;
   font-family: '돋움', dotum;
   font-size: 12px;
   font-weight: bold;
}

.tbl_type td {
   padding: 6px 0 4px;
   border: 1px solid #e5e5e5;
   color: #4c4c4c;
   width: 2000px;
}

.tbl_type td.ranking {
   font-weight: bold;
}

h2{
   text-align: center;
   text-decoration: underline;
}
span{
	color: red;
}

section#pageList{
	text-align: :center;
	width: auto;
}
