<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shoes.mapper.BrandMapper">
	<!-- 브랜드 리스트 호출 -->
	<select id="brandList" resultType="Brand">
		select brand_code, brand_name, brand_eng_name from brand
	</select>
	
	<insert id="insertBrand" parameterType="Brand">
		insert into brand (brand_code, brand_name, brand_eng_name)
			 values (#{brandCode}, #{brandName}, #{brandEngName})		
	</insert>
	
	<update id="updateBrand" parameterType="Brand">
		update brand
		   set brand_name = #{brandName}, brand_eng_name = #{brandEngName}
		 where brand_code = #{brandCode}
	</update>
	
	<delete id="deleteBrand">
		delete from brand
		 where brand_code = #{brandCode}
	</delete>
	
	<select id="brandByCode" resultType="Brand">
		select * from brand
		where brand_code = #{brandCode}
	</select>
	
</mapper>