<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shoes.mapper.EmployeeMapper">
	<!-- 카테고리 리스트 호출 -->
	<select id="employeeList" resultType="Employee">
		select emp_number, emp_name, authority_code, emp_id, email, tel_number from employee
	</select>
</mapper>