<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shoes.mapper.MemberDetailMapper">

	<!-- resultMap type : dto 클래스명 , id : 외부에서 지정할이름? -->
	<!-- result column : db속 컬럼명, property : dto속 변수명 -->

	<resultMap type="MemberDetail" id="MemberDetail">
		<id column="member_id" property="memberId" />			<!-- 회원id -->
		<result column="member_pwd" property="memberPwd" />		<!-- 회원password -->
		<result column="member_name" property="memberName" />	<!-- 회원이름 -->
		<result column="gender" property="gender" />			<!-- 성별 -->	
		<result column="birthday" property="birthday" />		<!-- 생년월일-->
		<result column="email" property="email" />				<!-- 이메일-->
		<result column="tel" property="tel" />					<!-- 연락처-->
		<result column="zipCode" property="zipCode" />			<!-- 우편번호-->
		<result column="address" property="address" />			<!-- 주소-->
		<result column="detail_address" property="detailAddress" />	<!-- 상세주소-->
	</resultMap>


	<select id="selectMemberDetailAll" resultType="MemberDetail">
	select member_id, member_pwd, member_name, gender, birthday, email, tel, zipCode, address, detail_address 
	from memberDetail
	</select>


	<insert id="insertMemberDetail" >
	insert into memberDetail values
<!-- 	(?,?,?,?,now(birthday),?,?,?,?,?) -->
	(#{mamberId},#{memberPwd},#{memberName},#{gender},now(birthday),#{email},#{tel},#{zipCode},#{address},#{detailAddress}) 
	
	</insert>
</mapper>



