<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shoes.mapper.MemberDetailMapper">

	<!-- resultMap type : dto 클래스명 , id : 외부에서 지정할이름? -->
	<!-- result column : db속 컬럼명, property : dto속 변수명 -->

<!-- 	<resultMap type="MemberDetail" id="MemberDetailAll">
		<id column="member_id" property="memberId" />			회원id
		<result column="member_pwd" property="memberPwd" />		회원password
		<result column="member_name" property="memberName" />	회원이름
		<result column="gender" property="gender" />			성별	
		<result column="birthday" property="birthday" />		생년월일
		<result column="email" property="email" />				이메일
		<result column="tel" property="tel" />					연락처
		<result column="zipCode" property="zipCode" />			우편번호
		<result column="address" property="address" />			주소
		<result column="detail_address" property="detailAddress" />	상세주소
	</resultMap> 
	-->
	 	 <resultMap type="MyPWConfirmCommand" id="resPw">
		<id column="member_id" property="memberId" />			<!--  회원id-->
		<result column="member_pwd" property="memberPwd" />		<!-- 회원password -->
		<result column="member_name" property="memberName" /><!-- 	회원이름 -->
		<result column="gender" property="gender" />			<!-- 성별	 -->
		<result column="birthday" property="birthday" />		<!-- 생년월일 -->
		<result column="email" property="email" />				<!-- 이메일 -->
		<result column="tel" property="tel" />					<!-- 연락처 -->
		<result column="zipCode" property="zipCode" />			<!-- 우편번호 -->
		<result column="address" property="address" />			<!-- 주소 -->
		<result column="detail_address" property="detailAddress" />	<!-- 상세주소 -->
	</resultMap> 
	
	
	
 	 <resultMap type="MemberDetail" id="resMdt">
		<id column="member_id" property="memberId" />			<!--  회원id-->
		<result column="member_pwd" property="memberPwd" />		<!-- 회원password -->
		<result column="member_name" property="memberName" /><!-- 	회원이름 -->
		<result column="gender" property="gender" />			<!-- 성별	 -->
		<result column="birthday" property="birthday" />		<!-- 생년월일 -->
		<result column="email" property="email" />				<!-- 이메일 -->
		<result column="tel" property="tel" />					<!-- 연락처 -->
		<result column="zipCode" property="zipCode" />			<!-- 우편번호 -->
		<result column="address" property="address" />			<!-- 주소 -->
		<result column="detail_address" property="detailAddress" />	<!-- 상세주소 -->
	</resultMap> 
	 
	 
	<select id="selectMemberDetailAll" resultType="MemberDetail">
	select member_id, member_pwd, member_name, gender, birthday, email, tel, zipCode, address, detail_address 
	from memberDetail
	</select>


	<insert id="insertMemberDetail">
	insert into memberDetail (member_id, member_pwd, member_name, gender, birthday, email, tel, zipCode, address, detail_address)
	values(#{memberId},password(#{memberPwd}),#{memberName},true,#{birthday},#{email},#{tel},#{zipCode},#{address},#{detailAddress}) 
		
	</insert>
	
	<select id="selectMemberDetailById" parameterType="string" resultMap="resMdt">
	select member_id, member_pwd, member_name, gender, birthday, email, tel, zipCode, address, detail_address 
	from memberDetail where member_id = #{memberId}
	
	
	</select>
	
	
		<select id="selectMemberByNameEmail" parameterType="string" resultMap="resMdt">
	select member_id
from memberDetail 
where member_name=#{param1} and email =#{param2}
	
	</select>
	
		<select id="selectPwdByIdNameEmail" parameterType="string" resultMap="resMdt">
	select member_pwd
from memberDetail 
where member_id=#{param1} and member_name=#{param2} and email =#{param3}
	
	</select>
	
	<!-- 비밀번호 일치여부 확인용 -->
	<select id="selectConfirmPw" resultMap="resPw"> 
	select  member_id, member_pwd from memberDetail where member_id =#{param1} and member_pwd =password(#{param2});<!-- 입력받는거 -->
	
	</select>
	
	<update id="updateMemberDetail" parameterType="MemberDetailUpdateCommend">
	update memberDetail
	set member_pwd=password(#{memberPwd}), member_name=#{memberName}, gender=#{gender}, 
		birthday=#{birthday}, email=#{email}, tel=#{tel}, zipCode=#{zipCode}, address=#{address}, detail_address=#{detailAddress}
	WHERE member_id=#{memberId}
	</update>
	
	<update id="updateMemberPW" parameterType="MemberDetail">
	update memberDetail
	set member_pwd=password(#{param2})
	WHERE member_id=#{param1};
	</update>
	
	
	<resultMap type="MemberDetailAgesCommend" id="resMemAgesList">
		<id property="gender" column="gender"/>
		<id property="birthday" column="birthday"/>
		<id property="ages" column="ages"/>
		<id property="total" column="total"/>
	</resultMap>
	
	<select id="memberListByAges" resultMap="resMemAgesList">
		select floor((date_format(now(),'%Y') - substring(birthday,1,4))/10) * 10 as ages,
			count(*) as total
			from memberDetail group by ages
	</select>
	
	<select id="memberListByGender" resultMap="resMemAgesList">
		select gender, count(*) as total from memberDetail group by gender order by gender desc
	</select>
	
</mapper>



