<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shoes.mapper.MemberDetailMapper"></mapper>


	<!-- <resultMap type="MemberDetail" id="MemberDetailAll">
		<id column="member_id" property="memberId"/>
		<association property="memberPwd" jabaType="MemberDetail"></association>
		<result column="birthday" property="birthday"/>
	</resultMap> -->
<!-- 	
<resultMap type="MemberDetail" id="MemberDetail">
		<id column="member_id" property="memberId"/>

 		<result column="member_id" property="memberId"/>
	</resultMap>

	

<select id="selectMemberDetailAll" resultMap="proj21_shoes.mapper.MemberMapper" >
		SELECT *
		  FROM memberDetail
	</select>
 -->