<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shoes.mapper.MyOrderMapper">

	<!-- resultMap type : dto 클래스명 , id : 외부에서 지정할이름? -->
	<!-- result column : db속 컬럼명, property : dto속 변수명 -->

<resultMap type="ModifyMyBuyConfirmCommend" id="resMyBuyConfirm">				
		<id column="member_id" property="memberId" />							<!-- 회원id -->
		<result column="order_code" property="orderCode" />						<!-- 주문코드 -->
		<result column="member_code" property="membeCode" />					<!-- 회원코드 -->
		<result column="order_date" property="orderDate" />						<!-- 주문일 -->
		<result column="payment_amount" property="paymentAmount" />				<!-- 결제금액 -->
		<result column="payment_state" property="paymentState" />				<!-- 결제여부 -->
		<result column="buy_confirm_state" property="buyConfirmState" />		<!-- 구매확정여부 -->
	
	</resultMap> 
	
	
 	 <resultMap type="MyOrderCommend" id="resMyOrder">				
		<id column="member_id" property="memberId" />							<!-- 회원id -->
		<result column="order_code" property="orderCode" />						<!-- 주문코드 -->
		<result column="member_code" property="membeCode" />					<!-- 회원코드 -->
		<result column="order_date" property="orderDate" />						<!-- 주문일 -->
		<result column="payment_amount" property="paymentAmount" />				<!-- 결제금액 -->
		<result column="payment_state" property="paymentState" />				<!-- 결제여부 -->
		<result column="delivery_code" property="deliveryCode" />				<!-- 배송코드(송장번호) -->
		<result column="buy_confirm_state" property="buyConfirmState" />		<!-- 구매확정여부 -->
		<result column="recipient" property="recipient" />						<!-- 받는사람 -->
		<result column="zipCode" property="zipCode" />							<!-- 우편번호 -->
		<result column="address" property="address" />							<!-- 주소 -->
		<result column="detail_address" property="detailAddress" />				<!-- 상세주소 -->
		<result column="tel" property="tel" />									<!-- 연락처 -->
		<result column="product_code" property="productCode" />					<!-- 상품코드 -->
		<result column="product_name" property="productName" />					<!-- 상품명 -->
		<result column="style_code" property="styleCode" />						<!-- 스타일코드 -->
		<result column="size" property="size" />								<!-- 사이즈 -->
		<result column="color" property="color" />								<!-- 색상 -->
		<result column="order_count" property="orderCount" />					<!-- 주문수량 -->
		<result column="product_main_image" property="productMainImage" />		<!-- 상품 대표이미지 -->
	</resultMap> 
	 
	 <select id="selectMyOrderById" resultMap="resMyOrder" >
	 	 select  
	 	 order_code, 
	 	 member_code, 
	 	 member_id, 
	 	 order_date, 
	 	 payment_amount, 
	 	 payment_state, 
	 	 delivery_code, 
	 	 buy_confirm_state, 
	 	 recipient, 
	 	 zipCode, 
	 	 address, 
	 	 detail_address, 
	 	 tel, 
	 	 product_code, 
	 	 product_name, 
	 	 style_code, 
	 	 `size`,
	 	 color, 
	 	 order_count, 
	 	 product_main_image 
	 	 from vw_myOrderData where member_id=#{memberId};
	 	
	 
	 </select>
	 	 <select id="selectMyOrderByOrderCode" resultMap="resMyOrder" >
	 	 select  
	 	 order_code, 
	 	 member_code, 
	 	 member_id, 
	 	 order_date, 
	 	 payment_amount, 
	 	 payment_state, 
	 	 delivery_code, 
	 	 buy_confirm_state, 
	 	 recipient, 
	 	 zipCode, 
	 	 address, 
	 	 detail_address, 
	 	 tel, 
	 	 product_code, 
	 	 product_name, 
	 	 style_code, 
	 	 `size`, 
	 	 color,
	 	 order_count, 
	 	 product_main_image 
	 	 from vw_myOrderData where order_code=#{orderCode};
	 	
	 
	 </select>
	 <!-- 페이징 적용 최근주문목록 -->
	 	 <select id="selectMyOrderListById" resultMap="resMyOrder" >
	 	 select R1.* FROM( select  
	 	 order_code, 
	 	 member_code, 
	 	 member_id, 
	 	 order_date, 
	 	 payment_amount, 
	 	 payment_state, 
	 	 delivery_code, 
	 	 buy_confirm_state, 
	 	 recipient, 
	 	 zipCode, 
	 	 address, 
	 	 detail_address, 
	 	 tel, 
	 	 product_code, 
	 	 product_name, 
	 	 style_code, 
	 	 `size`,
	 	 color, 
	 	 order_count, 
	 	 product_main_image 
	 	 from vw_myOrderData where member_id=#{memberId}
	 	 order by order_date desc
	 	 )R1
	 	   LIMIT #{pageSearch}, #{cntPerPage };
	 	
	 
	 </select>
	  <select id="MyOrderCount" resultType="int">
        select count(*) 
	from vw_myOrderData where member_id=#{memberId};
    </select>
	
	<update id="updateMyBuyConfirm">
	UPDATE `order`
SET buy_confirm_state=true
WHERE order_code=#{orderCode};
	</update>
	
</mapper>



