<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shoes.mapper.MyQnaMapper">

	<!-- resultMap type : dto 클래스명 , id : 외부에서 지정할이름? -->
	<!-- result column : db속 컬럼명, property : dto속 변수명 -->

 <resultMap type="NormalQnARegistCommand" id="registQna">	
 	<id column="board_code" property="boardCode" />						<!-- 게시판코드 -->		
		<result column="member_code" property="memberCode" />				<!-- 회원코드	 -->	
		<result column="title" property="title" />							<!-- 제목 -->
		<result column="content" property="content" />						<!-- 내용 -->
		<result column="regist_date" property="registDate" />				<!-- 작성일 -->
	</resultMap>
	
	
	 <resultMap type="ModifyMyNormalQnACommend" id="updateQna">	
 	<id column="board_code" property="boardCode" />						<!-- 게시판코드	 -->	
		<result column="member_code" property="memberCode" />				<!-- 회원코드	 -->	
		<result column="title" property="title" />							<!-- 제목 -->
		<result column="content" property="content" />						<!-- 내용 -->
		<result column="reply" property="reply" />							<!-- 답글 -->
		<result column="regist_date" property="registDate" />				<!-- 작성일 -->
	</resultMap> 

 	 <resultMap type="MyQnaViewCommand" id="resQna">			
		<id column="board_code" property="boardCode" />						<!-- 게시판코드 -->		
		<result column="member_code" property="memberCode" />				<!-- 회원코드	 -->
		<result column="member_id" property="memberId" />					<!-- 회원아이디 -->
		<result column="product_code" property="productCode" />				<!-- 상품코드	 -->
		<result column="product_name" property="productName" />				<!-- 상품명	 -->
		<result column="product_main_image" property="productMainImage" />	<!-- 상품 대표이미지-->
		<result column="title" property="title" />							<!-- 제목 -->
		<result column="content" property="content" />						<!-- 내용 -->
		<result column="reply" property="reply" />							<!-- 답글 -->
		<result column="regist_date" property="registDate" />				<!-- 작성일 -->
	</resultMap>
	
	<select id="selectQnAbyAllList" resultMap="resQna">
		select * from vw_myqna
	</select>
	
	<select id="selectProductQnAbyBoardCode" resultMap="resQna">
	select board_code, member_code, member_id, product_code, product_name, product_main_image, title, content,reply, regist_date		
	from vw_myqna where board_code=#{boardCode} and product_code is not null;
	</select> 
		
	<select id="selectNormalQnAbyBoardCode" resultMap="resQna">
	select board_code, member_code, member_id, product_code, product_name, product_main_image, title, content,reply, regist_date		
	from vw_myqna where board_code=#{boardCode} and product_code is null;
	</select> 
	
	<insert id="insertNormalQnA" >
		insert into qna  
		(member_code, product_code, title, content,  regist_date)
		VALUES(#{memberCode}, null, #{title}, #{content},  now());
	</insert>
	
	
	 <update id="updateNormalQnA">
		UPDATE qna
		SET  title=#{title}, content=#{content}
		WHERE board_code=#{boardCode};
	</update>
	 
	 
	 <!-- 나의 상품문의내역 페이징  -->	 
	 <select id="SelectMyPdQnAList" resultMap="resQna">
       select R1.* FROM(
         select board_code, member_code, member_id, product_code, product_name,product_main_image, title, content,reply, regist_date 		
	from vw_myqna where member_id=#{memberId} and product_code is not null
         order by regist_date desc
      ) R1
      LIMIT #{pageSearch}, #{cntPerPage };
      
    </select>
    
    <select id="MyPdQnACount" resultType="int">
        select count(*) 
	from vw_myqna  where 
	member_id =#{memberId} and product_code is not null;
    </select>
	 
	 	 <!-- 나의 일반문의 내역 페이징  -->
	 
	 <select id="SelectMyNmQnAList" resultMap="resQna">
       select R1.* FROM(
         select board_code, member_code, member_id, product_code, product_name,product_main_image, title, content,reply, regist_date 		
	from vw_myqna where member_id=#{memberId} and product_code is  null
         order by regist_date desc
      ) R1
      LIMIT #{pageSearch}, #{cntPerPage };
      
    </select>
    
    <select id="MyNmQnACount" resultType="int">
        select count(*) 
	from vw_myqna  where 
	member_id =#{memberId} and product_code is  null;
    </select>

	
</mapper>



