<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shoes.mapper.OrderOptionMapper">
	
	<resultMap type="OrderOption" id="OrderOptionList">
		<id column="product_code" property="productCode"/>
		<id column="style_code" property="styleCode"/>	
		<id column="size" property="size"/>	
		<id column="stock" property="stock"/>	
		<id column="color" property="color"/>
	</resultMap>
	
	<select id="orderOptionByProductCode" resultType="OrderOption">
		select product_code, style_code, `size`, stock, color
		from orderOption
		where product_code = #{productCode}
	</select>
	
	<select id="orderOptionByAllList" resultType="OrderOption">
		select * from orderOption
	</select>
	
	<insert id="insertOrderOption" parameterType="OrderOption">
		insert into orderOption (product_code, style_code, `size`, stock, color)
			 values (#{productCode}, #{styleCode}, #{size}, #{stock}, #{color})
	</insert>
	
	<update id="updateOrderOption" parameterType="OrderOption">
		update orderOption
		   set stock = stock + #{stock}
		 where product_code = #{productCode} and style_code = #{styleCode} and `size` = #{size} and color= #{color}
	</update>
	
	<delete id="deleteOrderOption" parameterType="OrderOption">
		delete from orderOption where product_code = #{productCode} and style_code = #{styleCode} and `size` = #{size} and color= #{color}
	</delete>
	
	<select id="findAll" resultMap="OrderOptionList" resultType="SearchCriteria">
		select * from orderOption
		where (product_code = #{productCode}) > 0
		<include refid="search"></include>
		order by style_code
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="countInfoList" parameterType="SearchCriteria" resultType="int" >
		select count(product_code) from orderOption
		where (product_code = #{productCode}) > 0
		<include refid="search"></include>
	</select>
	
	<!-- 검색기능을 위한 동적SQL -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'p'.toString()">AND `size` LIKE CONCAT('%',#{keyword},'%')</if>
			<if test="searchType == 't'.toString()">AND `size` LIKE CONCAT('%',#{keyword},'%')</if>
			<if test="searchType == 'c'.toString()">AND style_code LIKE CONCAT('%',#{keyword},'%')</if>
			<if test="searchType == 'w'.toString()">AND color LIKE CONCAT('%',#{keyword},'%')</if>
		</if>
	</sql>

</mapper>