<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shoes.mapper.OrderMapper">
	
		<resultMap type="Order" id="resOrder">
			<id property="orderCode" column="order_code"/>
			<association property="memberCode" resultMap="proj21_shoes.mapper.MemberMapper.resMember"/>
			<association property="address"/>
			<collection property="orderProduct" resultMap="resOrPr"/>
		</resultMap>
		
		<resultMap type="OrderProduct" id="resOrPr">
			<association property="orderOption" javaType="OrderOption"/>
		</resultMap>
	
	<select id="selectOrderList" resultMap="resOrder">
		select * 
			from `order` o
			join `member` m on o.member_code = m.member_code
			join address a2 on a2.order_code = o.order_code 
			join orderproduct o2 on o.order_code = o2.order_code ;
	</select>
	
	<insert id="insertOrder" parameterType="Order">
		insert into `order`(member_code, order_date, payment_amount) values
			(#{memberCode.memberCode},#{orderDate},#{paymentAmount})
		<selectKey keyProperty="orderCode" resultType="int">
			select last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="insertOrderProduct" parameterType="Order">
		insert into orderproduct(order_code, product_code, style_code, `size`, order_count) values
		<foreach collection="orderProduct" item="o" separator=",">
			(#{orderCode},#{o.orderOption.productCode},
			#{o.orderOption.styleCode},#{o.orderOption.size},#{o.orderCount})
		</foreach>
	</insert>
	
	<insert id="insertAddress" parameterType="Order">
		insert into address(order_code, recipient, zipCode, address, detail_address, tel) values
			(#{orderCode},#{address.recipient},#{address.zipCode},#{address.address}
			,#{address.detailAddress},#{address.tel})
	</insert>
	
	<update id="updateMemberPoint" parameterType="Member">
		update member set point = #{point} , cumulative_buy_amount = #{cumulativeBuyAmount}
		where member_code = #{memberCode}
	</update>
	
	
	<resultMap type="OrderCommend" id="resOrderList">
			<id property="orderDate" column="order_date_month"/>
			<id property="paymentAmount" column="payment_amount_month"/>
		</resultMap>
	
	<select id="orderListByMonthPay" resultMap="resOrderList">
		select (select left(order_date, 7)) as order_date_month , sum(payment_amount) as payment_amount_month from `order` where buy_confirm_state = 0 group by (select left(order_date, 7))
	</select>
	
</mapper>