<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shoes.mapper.OrderMapper">

	<insert id="insertOrder" parameterType="Order">
		insert into `order`(member_code, order_date, payment_amount) values
			(#{memberCode.memberCode},#{orderDate},#{paymentAmount})
		<selectKey keyProperty="orderCode" resultType="int">
			select last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="insertOrderProduct" parameterType="Order">
		insert into orderproduct(order_code, product_code, style_code, `size`, order_count) values
		<foreach collection="orderProduct" item="o" separator=",">
			(#{orderCode},#{o.orderOption.productCode},
			#{o.orderOption.styleCode},#{o.orderOption.size},#{o.orderCount})
		</foreach>
	</insert>
	<insert id="insertAddress" parameterType="Order">
		insert into address(order_code, recipient, zipCode, address, detail_address, tel) values
			(#{orderCode},#{address.recipient},#{address.zipCode},#{address.address}
			,#{address.detailAddress},#{address.tel})
	</insert>
	<update id="updateMemberPoint" parameterType="Member">
		update member set point = #{point} , cumulative_buy_amount = #{cumulativeBuyAmount}
		where member_code = #{memberCode}
	</update>
</mapper>