<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shoes.mapper.ProductMapper">

 
<resultMap type="Product" id="ProductAll">
	<id column="product_code" property="productCode"/>
	<association property="brand"/>
	<association property="category" javaType="Category"/>
	<association property="employee" javaType="Employee"/>
	<association property="productPost" javaType="ProductPost"/>
	<collection property="orderOptions" javaType="OrderOption"/>
</resultMap>

<select id="productByAll" resultType="Product">
	call productByAll()
</select>

</mapper>