<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shoes.mapper.ProductMapper">

	<resultMap type="Product" id="ProductList">
		<id column="product_code" property="productCode" />
		<association property="brand" javaType="Brand" />
		<association property="category" javaType="Category" />
		<association property="productPost" javaType="ProductPost" />
	</resultMap>
	
	<resultMap type="Product" id="ProductDetail">
		<id column="product_code" property="productCode" />
		<association property="brand" javaType="Brand" />
		<association property="category" javaType="Category" />
		<association property="employee" resultMap="ResEmployee"/>
		<association property="productPost" resultMap="ResProductPost" />
	</resultMap>
	
	<resultMap type="Employee" id="ResEmployee">
		<association property="authority" javaType="Authority"/>
	</resultMap>
	
	<resultMap type="ProductPost" id="ResProductPost">
		<id column="product_code" property="productCode"/>
		<collection column="Image" property="images" resultMap="ResImage"/>
	</resultMap>
	
	<resultMap type="Image" id="ResImage"/>

	<sql id="selProductList">
		select *
		from product p
		join brand b on p.brand_code = b.brand_code
		join category c on c.product_category_code =p.product_category_code
		join productpost p2 on p2.product_code = p.product_code
	</sql>
	<sql id="selProductDetail">
		select *
		from product p 
		join brand b on p.brand_code = b.brand_code 
		join category c on c.product_category_code =p.product_category_code
		join employee e on e.emp_number = p.emp_number
		join authority a2 on e.authority_code = a2.authority_code
		join productpost p2 on p2.product_code = p.product_code
		left join image i on i.product_code = p.product_code
	</sql>
	
	
	
	
	
	
	<select id="BrandByAll" resultType="Brand">
		select * from brand
	</select>
	
	<select id="OrderOptionByCode" resultType="OrderOption" parameterType="int">
		select * from orderoption where product_code = #{code}
	</select>
	
	<select id="OrderOptionByStyle" resultType="OrderOption" parameterType="int">
		select * from orderoption where product_code = #{param2} and style_code =#{param1}
	</select>
	
	<select id="OrderOptionBy3" resultType="OrderOption" parameterType="int">
		select * from orderoption where product_code = #{param2} and style_code =#{param1} and size = #{param3}
	</select>
	<update id="updateOrderOptionStock" parameterType="OrderProduct">
		update orderoption set stock= stock-#{orderCount} 
		where product_code = #{orderOption.productCode} and style_code =#{orderOption.styleCode} and size = #{orderOption.size}
	</update>
	
	<select id="productByAll" resultMap="ProductList">
		<include refid="selProductList" />
	</select>

	<select id="productByMenu" resultMap="ProductList" parameterType="String">
		<include refid="selProductList" />
				where gender = #{menu}
	</select>
	
	<select id="productByBrand" resultMap="ProductList" parameterType="int">
		<include refid="selProductList" />
			where p.brand_code = #{code}
	</select>

	<select id="productByCode" resultMap="ProductDetail" parameterType="int">
		<include refid="selProductDetail" />
			where p.product_code = #{code}
	</select>
	
	<select id="productBycommand" resultMap="ProductList" parameterType="ProductSelectCommend">
		<include refid="selProductList" />
			<where>
				<if test="gender !=null">
					and gender = #{gender}
				</if>
				<if test="productCategoryCode !=0">
					and p.product_category_code = #{productCategoryCode}
				</if>
				<if test="brandCode !=0">
					and p.brand_code = #{brandCode}
				</if>
			</where>
	</select>
	
	<insert id="insertProduct" parameterType="Product">
		insert into product (product_code, product_name, brand_code, gender, product_category_code, material, season, 
							made_date, costPrice, sell_Price, regist_date, cumulative_regist_count, cumulative_sell_count, emp_number)
		values (#{productCode}, #{productName}, #{brand.brandCode}, #{gender}, #{category.productCategoryCode}, #{material}, #{season}, 
				#{madeDate}, #{costPrice}, #{sellPrice}, #{registDate}, #{cumulativeRegistCount}, #{cumulativeSellCount}, #{employee.empNumber})
	</insert>
	
	<update id="updateProduct" parameterType="Product">
		update product set product_name = #{productName}, brand_code = #{brand.brandCode}, gender = #{gender}, 
							product_category_code = #{category.productCategoryCode}, material = #{material}, season = #{season}, made_date = #{madeDate}, costPrice = #{costPrice}, sell_Price = #{sellPrice}, regist_date = #{registDate}, 
							cumulative_regist_count = #{cumulativeRegistCount}, cumulative_sell_count = #{cumulativeSellCount}, emp_number = #{employee.empNumber}
		 where product_code = #{productCode}
	</update>

	<delete id="deleteProduct">
		delete from product
		 where product_code = #{productCode}
	</delete>


</mapper>