<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shoes.mapper.ReviewMapper">


	<resultMap type="ReView" id="resReView" >

		<id property="boardCode" column="board_code"/>
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="registDate" column="regist_Date" />
		<association property="orderCode" resultMap="proj21_shoes.mapper.OrderMapper.resOrder"/>
		<collection property="reviewImages" resultMap="resImage"/>
	</resultMap>
	
	<resultMap type="ReviewImage" id="resImage"/>
		
	<select id="selectReviewByProductCode" parameterType="int" resultMap="resReView">
	select *
		from review r
		join `order` o on o.order_code = r.order_code
		join `member` m on o.member_code = m.member_code
		join memberdetail m2 on m.member_id = m2.member_id
		join reviewimage r2 on r.board_code = r2.board_code
		join orderproduct o2 on o.order_code = o2.order_code
		where o2.product_code = #{productCode};
	
	</select>
		<insert id="review">
		insert into review
		(board_code, order_code, title ,content ,regist_date)
		values(#{board_code}, null, #{title}, #{content}, now());
	</insert>
	
	<delete id="review">
		delete from review where board_code=#{boardCode}
	</delete>
		
	<update id="review">
		update review
		set title={title}, content=#{content}
		where board_code=#{boardCode};
	</update>	

</mapper>