@charset "EUC-KR";

body{
	background: #ccc;
}
header{
	border-bottom: 2px solid #000;
}
header li{
	list-style-type: none;
	display: inline-block;
}
a{
	text-decoration: none;
	color: #222;
}

.nav1{
	text-align: right;
}
.nav1 ul{
	margin: 0;
	padding: 0;
}
.nav1 li{
	margin-right: 2em;	
	font-size: 0.5em;
}

.nav2{
	display: flex;
	justify-content: center; /*수평 가운데  flex되어야함*/
	align-items: center;
	height: 7vh;
}
.nav2 div{
	margin-left: 3em;
}
.nav2 div ul{
	padding: 0;
}
.nav2 li{
	margin-right: 1.5em;	
}
.search{
	float: left;
}