@charset "EUC-KR";


table img{
	width: 4em;
	height: 4em;
}
section{
	text-align: center;
}

/* table 복붙 */
table {
	border-collapse: separate;
	margin: auto;
	color: #666;
	font-size: 12px;
	text-shadow: 1px 1px 0px #fff;
	box-shadow: 0 1px 2px #d1d1d1;
	width: 60em;
}
table > thead th {
	padding: 10px;
	border-bottom: #ccc 1px solid;
}
table > tbody > tr {
	text-align: center;
}
table > tbody > tr > td {
	padding:5px;
	border-top: #ccc 1px solid;
}


form table{
	width: 60em;
}
form table tr{
	padding: 10px;
}
form table td{
	text-align: left;
}

.btn{
	margin: 2em;
}

#zipCode{
	width: 6em;
	margin: 0.5em;
}
#address,#detail_address{
	width: 30em;
	margin: 0.5em;
}
#tel,#recipient{
	margin: 0.5em;
}


