@charset "UTF-8";

section {
	width: 100%;
	text-align: center;
}

.main {
	margin: auto;
	width:50%;
	display: inline-block;
  /* border: 1px solid #000; */
}

.order-options {
	padding: 0.5em;
	text-align: left;
	width:15%;
	display: inline-block;
	float: right;
	position: sticky;
	top: 25%;
	right: 10%;
	box-shadow: 10px 10px 20px #c0c0c0;
	border-radius: 15px;
}

.order-options input{
	width: 80%;
	background-color:white;
	border-radius: 7px;
	
}
.product-content img{
	width: 80%;
}
.main-image img{
	width: 80%;
}
.main-image{
	padding: 2em;
}
.btn{
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
.btn li{
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}



/* tab메뉴 */
.tabs div{
	display: none;
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
}
.tabs div.active{
	display: block;
}
.active{
	color:red;
	/* border: 1px solid #000; */
	
}
