@charset "UTF-8";

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


h4{
  
   text-align: center;
}

.tbl_type, .tbl_type th, .tbl_type td {
   border: 0;

}

#maPage {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	text-align: center;
	font-family:  sans-serif;
	width: auto;
}


.tbl_type {
   background-color : #efefef;
   width: 90%;
   margin: 0 auto;
   max-width:800px;
   width: 90%;
   border-top: 2px solid #dcdcdc;
   border-bottom: 2px solid #dcdcdc;
   font-family:  sans-serif;
   font-size: 12px;
   text-align: center;
   border-collapse: collapse;
   
   }
   
   
   