@charset "EUC-KR";

section{
	width: 90%;
	margin: auto;
	text-align: center;
}

/*  */
img {	

  width: 280px;
  height: 200px;
  object-fit: cover;
  border-radius: 20%;


  
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
/* item */
.item {
	padding: 5px 0px 5px 5px;
	
	margin-top:40px;
	margin-right :10em;
	display:inline-block;
	width:20em;
	border-radius: 10px;
	
	transform: scale(0.95);
   -webkit-transform: scale(0.95);
   -moz-transform: scale(0.95);
   -ms-transform: scale(0.95);
   -o-transform: scale(0.95);
   transition: all 0.2s ease-in-out;  

	
}

.item:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}



.item img {
	transition: 0.5s;
	overflow:hidden 

	
}
.item:hover img {
	filter: blur(2px);
}

.detail {
	background-color: #ffffff;
	width: 100%;
	left: 0;
	height: 50%;
	transition: 0.5s;
	padding: 0 20px;
	box-sizing: border-box;
}

.item:hover .detail {
	bottom: 0;
}
/* title */

.title {
	border-style: dotted; 
	border-width: 2px 2px 2px 2px;
	border-radius:20px; 
	padding: 12px; 
	word-break: break-all;
	border-color: black; 
	background-color:rgba(211, 211, 211, 0.2);
}

.title {
	border-bottom: 2px dotted #000000;
	
	/* 자식요소(.title h2)가 flout 속성이 들어가있어 크기를 잃어버려서 써야됨 */
	overflow: hidden;
	
	margin-bottom: 20px;
}

.title h2 {
	font-size: 16px;
	color: #888;
	line-height: 1.1em;
	float: left;
}

.title h2 em {
	font-style: normal;
	display: block;
	color: #000;
	margin-bottom:3px;
	font-size: 17px;
}

.title .price {
	float: right;
	margin-top: 15px;
	font-size: 17px;
	color: #ff0080;
}
