@charset "UTF-8";
/* step1 */
.box1{
	text-align: center;
	width: 800px;
	height: 200px;
	border: 5px solid #c0c0c0 ; 
	margin: auto;
	padding-top: inherit;
	margin-top: 100px;
	margin-bottom: 100px;
	
	
}
 h3{
 margin-bottom: 10px;
 }

.btn1 {
	text-align: left;
	color: red;
}

.btn2 { /* 회원가입, 회원가입 취소 버튼 */
	padding-top:inherit;
	text-align: center;
	color: red;
}
/*  join */
 #registForm{
	
	width: 500px;
	height:620px;
	border:1px solid red;
	margin:auto;
}
h2{
	text-align:center;
}

table{
	margin:auto;
	width:450px;
}

.td_left {
	width:150;
	background: #dedede ;
	
}


/* 회원가입 입력폼. id = #, class = . */
#signUpForm{
color: #c0c0c0 ; 
}



