@charset "UTF-8";




/* 회원가입 입력폼. id = #, class = . */
#signUpForm{
color: #2c2c2c ; 
}

.td_gender{

}
h2{
	text-align:center;
}
.td_left {
	width:10;
	padding-right:10px;
	padding-left:10px;
	background: #ffffff ;
	
}
.left {
	width:10;
	size: 30px;
	padding-right:10px;
	padding-left:10px;
	background: #ffffff ;
	text-align:left;
	
}