@charset "UTF-8";

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body *{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Noto Sans KR', sans-serif;
}
header{
	position: fixed;
	height: 8em;
	min-width: 1300px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
    /* 배경색은 구분용 최종으론 아마도 흰색? */
}

section{
	/* 내용들어갈때 패딩탑 줘야 헤더랑 영역 구분됨 */
	padding-top: 125px
}


header div,nav{
	position: absolute;
}
li{
	list-style: none;
	display: inline-block;
	margin: 1em;
}
a{
	text-decoration: none;
	color: #000;
}
.sns-menu{
	top:0;
	left: 5%;
}
.top-menu{
	top:0;
	right: 5%;
	font-size:0.5em;
}
.logo{
	bottom:0;
	left:5%;
	background-image : url("../images/logo.jpg");
	background-size: 100% 100%;
	width: 14em;
	height: 5em;
}
.main-menu{
	bottom:0;
	left: 40%;
}


footer{
	position:relative;
	background: #e9e9e9;
	height: 15em;
	min-width: 1300px;
}
footer *{
	color: #808080;
}
footer>*{
	position:absolute;
}

footer nav{
	top:0;
	left: 5%;
}
.footer-list{
	top:5em;
	column-count: 4;
	/* column-width: 25%;
	column-gap: 100px; */
	/* column-rule: 2px dotted #ccc; */
	column-rule-width: 2px;
	column-rule-style: dotted;
	column-rule-color: #fff;
}

footer div{
	text-align:center;
	font-size:0.5em;
	break-before:column;
}
.bottom{
	bottom:0;
}
